<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>姓名</string>
		<key>placeholder</key>
		<string>请输入您的姓名</string>
		<key>cellType</key>
		<string>0</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>国家/地区</string>
		<key>placeholder</key>
		<string>请选择国家或地区</string>
		<key>cellType</key>
		<string>3</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机号</string>
		<key>placeholder</key>
		<string>请输入您的手机号</string>
		<key>cellType</key>
		<string>0</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>申诉订单</string>
		<key>placeholder</key>
		<string>请输入您的申诉订单号</string>
		<key>cellType</key>
		<string>0</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>申诉描述</string>
		<key>placeholder</key>
		<string>请描述您申诉的问题</string>
		<key>cellType</key>
		<string>1</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>上传凭证</string>
		<key>placeholder</key>
		<string>（不超过三张）</string>
		<key>cellType</key>
		<string>2</string>
		<key>keyboardType</key>
		<integer>0</integer>
		<key>value</key>
		<string></string>
		<key>imagelist</key>
		<array/>
	</dict>
</array>
</plist>
