<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>支付方式</string>
		<key>type</key>
		<string>1</string>
		<key>select</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>全部</string>
				<key>selected</key>
				<true/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>银行卡</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>支付宝</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>微信</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>云闪付</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>name</key>
		<string>数量区间</string>
		<key>minPlaceholder</key>
		<string>最小量</string>
		<key>maxPlaceholder</key>
		<string>最大量</string>
		<key>minString</key>
		<string></string>
		<key>maxString</key>
		<string></string>
		<key>select</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>数量排序</string>
		<key>type</key>
		<string>1</string>
		<key>selected</key>
		<false/>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>数量升序</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>数量降序</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>交易量</string>
		<key>type</key>
		<string>1</string>
		<key>select</key>
		<false/>
		<key>items</key>
		<array>
			<dict>
				<key>itemName</key>
				<string>交易量升序</string>
				<key>selected</key>
				<false/>
			</dict>
			<dict>
				<key>itemName</key>
				<string>交易量降序</string>
				<key>selected</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
